.mobile-header{
    display: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: url("/img/bk_2.png");
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.container-img{
    width: 425px;
}

.icon{
    display: flex;
    justify-content:center;
    margin-top: 24px;
}

.ic-next{
    margin-left: 52px;
    margin-right: 52px;
}

.ic-share{
    display:none
}

@media screen and (max-width: 768px){
    .container {
        width: 100%;
        height: 100vh;
        background-image: url("/img/bk_2.png");
        background-color: black;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    .container-img{
        width: 480px;
    }

    .icon{
        display: flex;
        justify-content:center;
        margin-top: 31px;
    }

    .ic-share-desktop{
        display: none;
    }

    .ic-share{
        display:block
    }
}

@media screen and (max-width: 360px){
    .mobile-header{
        display: block;
        height: 60px;
        background-image: url("/img/bk_1.png");
        background-color: black;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-start;
    }

    .logo-mobile {
        width: 78px;
        height: 34px;
    }

    .container {
        width: 100%;
        height: 100vh;
        background-image: url("/img/bk_1.png");
        background-color: black;
        background-repeat: no-repeat;
    }

    .container-img{
        position: relative;
        width: 360px;
    }

    .icon{
        display: flex;
        justify-content:center;
        margin-top: 18px;
    }

    .ic-next{
        margin-left: 32px;
        margin-right: 32px;
    }
}