.wrapper {
    width: 100%;
    min-height: 100vh;
    background-image: url("/assets/img/bk_2.png");
    background-repeat: no-repeat;
<<<<<<< Updated upstream
=======
    /* background-size: cover; */
>>>>>>> Stashed changes
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-header {
    display: none;
}

.container {
    max-width: 425px;
    padding: 64px 0px 65px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-slogan {
    display: block;
    position: absolute;
    top: 59%;
    right: 2%;
}

.container-img {
    position: relative;
}
.container-img-img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:1; 
}
.container-img-img-p14 {
    width: 100%;
    background: url(/assets/img/p14.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container-img-ladyyuan{
    width: 93%;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.container-img-vavababy{
    width: 50%;
    cursor: pointer;
    position: absolute;
<<<<<<< Updated upstream
    bottom: 15px;
    right: 11px;
=======
    bottom: 22px;
    right: 20px;
>>>>>>> Stashed changes
}
.container-img-vavababy-click{
    width: 45%;
    height: 45%;
    cursor: pointer;
    position: absolute;
<<<<<<< Updated upstream
    bottom: 15px;
    left: 12px;
=======
    bottom:30%;
    right: 0px;
    opacity: 0;
}
.container-img-imkowan{
    width: 73%;
    cursor: pointer;
    position: absolute;
    bottom: 22px;
    left: 20px;
>>>>>>> Stashed changes
}
.container-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 206, 204, 0.504);
    opacity: 0;
    transition: opacity 1s ease;
    /* z-index: 10; */
}


.container-button {
    width: 230px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

.container-button-prev {
    width: 42px; 
    height: 42px; 
    background-image: url('/assets/icon/ic_prev.svg'); 
    background-size: cover; 
    transition: background 0.3s;
    cursor: pointer;
}
.container-button-prev:hover {
    background-image: url('/assets/icon/ic_prev_hover.svg'); 
}

.container-button-next {
    width: 42px; 
    height: 42px; 
    background-image: url('/assets/icon/ic_next.svg'); 
    background-size: cover; 
    transition: background 0.3s;
    cursor: pointer;
}
.container-button-next:hover {
    background-image: url('/assets/icon/ic_next_hover.svg'); 
}
.container-button-home{
    width: 42px; 
    height: 42px; 
    background-image: url('/assets/icon/ic_home.svg'); 
    background-size: cover; 
    transition: background 0.3s;
    cursor: pointer;
}
.container-button-home:hover {
    background-image: url('/assets/icon/ic_home_hover.svg'); 
}
.container-button-copy {
    width: 42px; 
    height: 42px; 
    background-image: url('/assets/icon/ic_copy.svg'); 
    background-size: cover; 
    transition: background 0.3s;
    cursor: pointer;
}
.container-button-copy:hover {
    background-image: url('/assets/icon/ic_copy_hover.svg'); 
}

.container-button-share {
    display: none;
}

@media screen and (max-width: 1600px) {
.container-slogan {
    display: block;
    position: absolute;
    width: 400px;
    top: 63%;
    right: 2%;
}
@media screen and (max-width: 1360px) {
    .container-slogan {
        display: block;
        position: absolute;
        width: 280px;
        top: 65%;
        right: 2%;
    }
}
@media screen and (max-width: 1024px) {
    .wrapper {
        background-image: url("/assets/img/bk_3.png");
    }

    .container {
        position: relative;
    }

    .container-slogan {
        display: block;
        width: 50%;
        position: absolute;
        top: -1%;
        right: 0;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        background-image: url("/assets/img/index_bg.png");
<<<<<<< Updated upstream
        justify-content: space-between;
=======
        height: 100vh;
        justify-content: flex-start;
>>>>>>> Stashed changes
    }

    .wrapper-header {
        width: 100%;
        padding-top: 12.5px;
        padding-bottom: 12.5px;
        display: flex;
        justify-content: space-between;
    }

    .wrapper-header-logo {
        padding-left: 12.5px;
        width: 78px;
        height: 34px;
    }

    .wrapper-header-slogan {
        padding-right: 12.5px;
        width: 127px;
        height: 36px;
    }

    .container {
        width: 84%;
        padding: 0;
    }
    .container-img-img{
<<<<<<< Updated upstream
        height: calc(100vh - 61px - 78px);
    }
    .container-img-img-p14 {
        height: calc(100vh - 61px - 78px);
    }
=======
    width: 100%;
    }
    
>>>>>>> Stashed changes
    .container-img-ladyyuan{
        width: 85%;
        top: 16px;
        left: 16px;
    }
    
    .container-img-vavababy{
        width: 50%;
        right: 17px;
       bottom: 18px;

    }
    .container-img-imkowan{
        width: 73%;
        left: 16px;
       bottom: 18px;

    }

    .container-slogan {
        display: none;
    }

    .container-button {
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .container-button-copy {
        display: none;
    }
    .container-button-share {
        display: block;
        width: 42px; 
        height: 42px; 
        background-image: url('/assets/icon/ic_share.svg'); 
        background-size: cover; 
        transition: background 0.3s;
        cursor: pointer;
        cursor: pointer;
    }
    .container-button-share:hover {
        background-image: url('/assets/icon/ic_share_hover.svg'); 
    }

<<<<<<< Updated upstream
=======
}
@media screen and (max-width: 375px) {
    /* .container-img-img-p14{
        height: calc(100vh - 61px - 78px);
    } */
    .container-img-ladyyuan{
        top: 15px;
        left: 15px;
    }
    
    .container-img-vavababy{
       right: 15px;
       bottom: 17px;

    }
    .container-img-imkowan{
       left: 15px;
       bottom: 17px;

    }
>>>>>>> Stashed changes
}